html {
	height: 100vh;
}
body {
	background-color: #333;
	color: #fff;
	font-family: 'JetBrains Mono', monospace;
	max-width: 600px;
	width: 100%;
	margin: 40px auto;
	font-size: 16px;
}

ul {
	list-style-type: square;
	padding-left: 20px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
	body {
		max-width: 95%;
		margin: 20px auto;
		font-size: 14px;
	}

	ul {
		padding-left: 20px;
	}
}
