
<section>
  <h1>wizo | developer based in spain</h1>
  <div class="divider"></div>
  <p>
    computers, manga, research, design and code</p>
    <p>from now on i will be writing in the blog about my projects or just whatever comes to my mind (i'm not a native english speaker btw, sorry for the bugs).</p>
  <p>you can DM me on x <a href="https://x.com/wizozero" target="_blank">@wizozero</a></p>
  <div class="divider"></div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
  }
  h1 {
    padding: 0;
    margin-bottom: 14px;
    font-size: 1.1rem;
  }
  .divider {
    border: 1px solid #fff;
    width: 100%;
    margin: 20px 0;
  }
  a {
    text-decoration: none;
    color: #59FF06;
  }
</style>
