
<section>
  <h1>heyyy, wizo here</h1>
  <p>
    I'm a developer that suffer from agoraphobia, so my greatest joys and moments of peace come when I'm in front of the computer, studying, researching, reading manga or just coding.</p>
    <p>From now on I will be writing in the blog about my projects or just whatever comes to my mind (I'm not a native English speaker btw, sorry for the bugs).</p>
  <p>I write quite a lot on X so you can find me there.</p><a href="https://x.com/wizozero" target="_blank">@wizozero</a>
  <div class="divider"></div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
  }
  h1 {
    padding: 0;
    margin-bottom: 14px;
  }
  .divider {
    border: 1px solid #fff;
    width: 100%;
    margin: 20px 0;
  }
  a {
    text-decoration: none;
    color: #59FF06;
  }
</style>
