---

---

<nav>
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 14px;
    border: 2px solid #fff;
    margin-right: -1px;
  }
  a:last-child {
    margin-right: 0;
  }
  a:hover {
    background-color: #fff;
    color: #000;
  }
</style>